<ons-navigator title="Sensation"
    left-button-icon="fa fa-lg fa-bars"
    on-left-button-click="ons.slidingMenu.toggleMenu()"
    right-button-icon="fa fa-lg fa-gears"
    on-right-button-click="ons.navigator.pushPage('settings.html',{title: 'Settings'})">

    <ons-page ng-controller="HomeController">
        <ons-scroller>
            
            <div class="grid-menu">
                <div class="centering-and-alignment" ng-repeat="row in items | partition:3">
                  <div class="grid-menu-item topcoat-list__item topcoat-list__item--tappable" ng-repeat="item in row" ng-click="showDetail(($parent.$index*row.length)+$index);">
                    <ons-icon icon="{{item.icon}}" fixed-width="true"></ons-icon>
                    <div class="grid-menu-item-label">{{item.title}}</div>
                  </div>
                </div>
            </div>

            <h3 class="topcoat-list__header">Mobile</h3>
            <div class="topcoat-list">
                <ul class="topcoat-list__container">
                    <li ng-click="ons.navigator.pushPage('plugins.html',{title: 'Plugins'})" class="topcoat-list__item topcoat-list__item__line-height topcoat-list__item--tappable">
                        <ons-row>
                            <ons-col size="10"> 
                            <ons-icon icon="mobile" fixed-width="true"></ons-icon>
                            </ons-col>
                            <ons-col class="left">Mobile Plugins</ons-col>
                            <ons-col size="10" class="right right-col"> 
                            <ons-icon icon="angle-right" fixed-width="true"></ons-icon>
                            </ons-col>
                        </ons-row> 
                    </li>
                </ul>
            </div>
            
        </ons-scroller>
        
    </ons-page>

</ons-navigator>