<ons-page class="menu-page">
    
    <div ng-controller="MenuController">
        
        <ons-list class="topcoat-list">
            <ons-row>
                        <ons-col class="left">
                        <img src="img/seiten/menu_band.jpg" alt="" style="max-width: 100%; width:100%; height: auto; "/>
                        </ons-col>
                        </ons-row>
            <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height" 
            ng-repeat="item in items" 
            ng-click="ons.slidingMenu.toggleMenu(); showDetail($index);">
                <ons-row>
                    <ons-col size="10"> 
                    <ons-icon 
                    icon="{{item.icon}}"
                    fixed-width="true">
                    </ons-icon>
                    </ons-col>
                    <ons-col class="left">
                    {{item.title}}
                    </ons-col>
                </ons-row>                          
            </ons-list-item>
        </ons-list>

    </div>    

</ons-page>