<ons-page class="menu-page">
    
    <div ng-controller="MenuController">
        
        <ons-list class="topcoat-list">
            
            <div class="topcoat-navigation-bar">
                <div class="topcoat-navigation-bar__item center full">
                    <ons-row>
                        <ons-col class="center">
                        <h1 class="topcoat-navigation-bar__title"><ons-icon 
                        icon="location-arrow"
                        fixed-width="true">
                        </ons-icon>Main Menu</h1>
                        </ons-col>
                    </ons-row>    
                </div>
            </div>
            
            <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height" 
            ng-repeat="item in items" 
            ng-click="ons.slidingMenu.toggleMenu(); showDetail($index);">
                <ons-row>
                    <ons-col size="10"> 
                    <ons-icon 
                    icon="{{item.icon}}"
                    fixed-width="true">
                    </ons-icon>
                    </ons-col>
                    <ons-col class="left">
                    {{item.title}}
                    </ons-col>
                </ons-row>                          
            </ons-list-item>
        </ons-list>

    </div>    

</ons-page>