<ons-page ng-controller="PostController">

    <ons-scroller>
        <section style="padding: 10px;">
            
            <h2 class="title">{{item.title}}</h2>
            
            <div class="post-submitted">
            Posted {{item.date}} by <strong>{{item.author.name}}</strong><br/>
            <em>Modified {{item.modified}}</em>
            </div>
            <p ng-bind-html="item.content"></p>
            
            <p class="categories" ng-show="{{item.categories}}"><ons-icon icon="tags" fixed-width="true"></ons-icon>
            <span ng-repeat="category in item.categories">{{category.title}} ({{category.post_count}}){{$last ? '' : ', '}}</span>
            </p>
            
            <p class="tags" ng-show="{{item.tags}}"><ons-icon icon="tags" fixed-width="true"></ons-icon>
            <span ng-repeat="tag in item.tags">{{tag.title}} ({{tag.post_count}}){{$last ? '' : ', '}}</span>
            </p>
            
            <!--<a class="post-url" ng-href="{{item.url}}">View post</a>-->
            
            <!-- Open the post using the InAppBrowser plugin (org.apache.cordova.inappbrowser) -->
            <ons-button type="large" ng-click="loadURL('{{item.url}}')">
            View post
            </ons-button>
            
        </section>
    </ons-scroller>
    
</ons-page>